.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* side bar */
.dhx_widget--border_right {
  width: 90px;
  height: 100vh;
}
.dhx_sidebar-button__icon::before {
  color: white;
  font-size: 30px !important;
}
.dhx_widget .dhx_sidebar-button__icon {
  font-size: 30px;
}
.dhx_widget .dhx_sidebar-button__icon::before {
  font-size: 60px;
}
.dhx_sidebar-button {
  display: block !important;
}
.name {
  color: white;
}
.dhx_sidebar {
  height: 100vh !important;
}
.dhx_navbar--vertical {
  height: 100vh !important;
}
.dhx_navbar {
  overflow: hidden !important;
}
.dhx_sidebar {
  height: 100%;
  position: relative;
  background-color: #2793e9;
  z-index: var(--dhx-z-index-up);
}
.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-weight: 900;
  font-size: 13px;
}
.dhx_date-cell {
  color: #202020 !important;
  text-align: left !important;
  justify-content: start !important;
  padding: 0 !important;
}
.dhx_grid .dhx_grid-content.dhx_grid-less-height {
  height: 876px !important;
  overflow-x: hidden !important;
}
.dhx_grid {
  height: 867px !important;
}
.dhx_navbar.dhx_navbar--vertical {
  overflow: hidden;
}
.dhx_navbar.dhx_navbar--horizontal {
  border-bottom: 1px solid #9d9d9d;
}
.dhx_input.dhx_input--icon-padding {
  border: none !important;
  outline: none !important;
  background: white;
  border: 1px solid transparent !important;
}
/* sidebar 2 */
.dhx_navbar--vertical {
  overflow: hidden;
}
.user-info_container {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.dhx_sidebar-button__text {
  vertical-align: top;
  line-height: 25px;
}
.user-info_avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.user-info_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
.user-info_contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
  color: rgba(0, 0, 0, 0.5);
}
.dhx_sidebar--minimized .user-info_avatar {
  height: 30px;
  width: 30px;
}
.dhx_sidebar--minimized .user-info_title,
.dhx_sidebar--minimized .user-info_contact {
  visibility: hidden;
}
.dhx_sample-container,
.dhx_sample-container__widget {
  height: 100%;
}
.dhx_navbar--vertical {
  overflow: hidden;
}
.dxi.dxi-menu-down {
  position: relative;
}
/* .dxi.dxi-menu-down::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: #ffffff;
  background: white;
  background: url(/images/Shape.png) no-repeat;
} */

.user-info_container {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.user-info_avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.user-info_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
.user-info_contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
  color: rgba(0, 0, 0, 0.5);
}
.dhx_sidebar--minimized .user-info_avatar {
  height: 30px;
  width: 30px;
}
.dhx_sidebar--minimized .user-info_title,
.dhx_sidebar--minimized .user-info_contact {
  visibility: hidden;
}
.dhx_sample-container,
.dhx_sample-container__widget {
  height: 100%;
}
.dhx_sidebar-button__icon.icon:before {
  color: #9d9d9d !important;
}
.dhx_sidebar-button.icon_text {
  display: flex !important;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
}
.btn_black {
  background: #202020 !important;
  border-radius: 10px;
  color: white !important;
  border: 1px solid #202020;
}

/* select */
#combobox {
  padding: 0 !important;
}
.dhx_combobox-input-box {
  background-color: #202020 !important;
  border-radius: 15px !important;
  font-size: 20px;
  color: white !important;
  height: 44px !important;
  width: 204px !important;
}
.dhx_combobox-input::placeholder {
  color: white !important;
}
.dhx_combobox-input {
  vertical-align: middle !important;
  line-height: 40px !important;
  padding: 25px !important;
}
.dhx_combobox-input__icon {
  color: white !important;
}
.dhx_combobox-input__template {
  padding: 13px;
}

/* num-box */
.num_box {
  font-size: 14px !important;
  padding: 0 12px;
  font-weight: 700;
  width: 67px;
}
.num_box span {
  color: #2793e9;
}
.num_box h4 {
  color: #202020;
}
.num_box_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 0;
}
.button_group {
  display: flex !important;
  justify-content: space-between;
}
.button_group.active {
  color: #2793e9;
}
.dhx_widget .dhx_sidebar-button__icon {
  font-size: 20px;
}
.button_group .btn {
  border: 1px solid #9d9d9d;
  height: 26px;
  width: 60px;
  border-radius: 7px;
  line-height: 25px;
}
.dhx_sidebar-button__caret {
  color: #2793e9;
}

/* folder */
.dhx_tree_template {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  width: 100%;
  height: 100%;
}
.dhx_tree_template__value {
  font-family: var(--dhx-font-famaly);
  font-size: var(--dhx-font-size-normal);
  line-height: var(--dhx-line-height-normal);
  color: var(--dhx-font-color-primary);
}
.dhx_tree_template__rows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dhx_tree_template__button {
  margin-left: 4px;
  background: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
}
.dhx_tree_template__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--dhx-font-color-primary);
}
.dhx_tree_template__icon--danger {
  color: var(--dhx-color-danger);
}
.dhx_tree-custom {
  padding: 40px;
}

/* .dxi.dxi-folder:before {
  content: "";
  background: url(images/folder.png) no-repeat;
} */

/* dropdown */
.dhx_combobox-input__icon {
  opacity: 0;
}

/* Add a custom icon (Font Awesome example) */
.dhx_combobox-input-list-wrapper {
  position: relative;
  cursor: pointer;
}

.dhx_combobox-input-list-wrapper::before {
  content: "";
  background: url("images/Shape.png") no-repeat center;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  color: white !important;
  transform: translateY(-50%);
}

.dhx_combobox_opened .dhx_combobox-input-list-wrapper::before {
  content: "\f0d8"; /* Font Awesome's "up arrow" icon */
}
